# Dependencies
node_modules

# Temporary files and directories
.tmp

# Environment variables
.env*

# Test coverage directory
coverage

# Build directory
build

# OS
.DS_Store
.tmp

# Miscellaneous
*.log*

# IntelliJ files and directories
.idea
*.iml

# Visual Studio Code files and directories
.vscode
